* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
}

.app {
  background-color: #F0F1FB;
  border-style: groove;
  margin: auto;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;
}

.list {
  float: right;
  background-color: #F0F1FB;
  border-style: groove;
  width: 65%;
  height: 756px;
}

.creator {
  position: relative;
  background-color: #F0F1FB;
  border-style: groove;
  align-items: center;
  justify-content: center;
  width: 34%;
  height: 190px;
}

.tasktext{
  border-color: #000000;
}

.button {
  border: 0;
  border-radius: 5px;
  color: #fff;
  outline: 0;
  margin: 0 5px;
  padding: 5px 10px;
}

.status {
  float: left;
  background-color: #F0F1FB;
  border-style: groove;
  width: 34%;
  height: 560px;
}

.buttonSuccess {
  composes: button;
  background-color: #27ae60;
}

.taskdiv {
  background-color: #ffffff;
  width: 75px;
  height: 50px;
  border-style: solid;
}
